{% extends ':layout:LayoutUser.html.twig' %}

{% block content%}


    <div class="col-md-6">

            <div class="portlet-body">
                <div id="gmap_basic" class="gmaps">

                </div>

        <div class="portlet-body">
            <div id="gmap_basic" class="gmaps">

            </div>

        </div>
        <!-- END BASIC PORTLET-->
    </div>

    <div class="col-md-6">




        <form>
            <div class="col-md-5    ">

                <input type="text" class="form-control" id="address"/>
                <input type="button" class="btn green" value="Localiser" onclick="searchAddress();"/>

            </div>

        </form>




    </div>


    <script type="text/javascript">


        //les variables

        var map;
        var directionsService;
        var directionsDisplay;
        var myPosition;
        var latlng;

        function initMap() {

            //service d'itinéraire

            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer;

            // création de la map

            map = new google.maps.Map(document.getElementById('gmap_basic'), {

                zoom: 12
            });



            function calculateAndDisplayRoute(directionsService, directionsDisplay, o, e) {
                directionsService.route({
                    origin: o,
                    destination: e,
                    travelMode: 'DRIVING'
                }, function(response, status) {
                    if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }



            directionsDisplay.setMap(map);


            //get current position

            function maPosition(position) {

                myPosition = position;

                var infopos = "Position déterminée :\n";
                infopos += "Latitude : "+position.coords.latitude +"\n";
                infopos += "Longitude: "+position.coords.longitude+"\n";
                infopos += "Altitude : "+position.coords.altitude +"\n";
                infopos += "Vitesse  : "+position.coords.speed +"\n";



                latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);


                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title:"Vous êtes ici"
                });


                map.panTo(latlng);

            }


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(maPosition, function() {

                    console.log("Ok");
                });
            } else {

                console.log("Error");
            }





        }



        //https://maps.googleapis.com/maps/api/geocode/json?address=&key=AIzaSyBx5RW1xR1AAL_A874x9_pXzV85KA7T66g


        function createMarker(latlng) {

            // If the user makes another search you must clear the marker variable
            marker = new google.maps.Marker({
                map: map,
                position: latlng
            });

        }



        function searchAddress() {

            var addressInput = document.getElementById('address').value;

            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({address: addressInput}, function(results, status) {

                if (status == google.maps.GeocoderStatus.OK) {

                    var myResult = results[0].geometry.location; // reference LatLng value

                    createMarker(myResult); // call the function that adds the marker

                    map.setCenter(myResult);

                    map.setZoom(17);

                    calculateAndDisplayRoute(directionsService, directionsDisplay, myPosition, myResult);

                }
            });
        }





        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe4BNAZTQY-9JxbRhpgFUNuxjuyeGOZtU&callback=initMap">
    </script>






{% endblock %}