
<div class="contanier">

    <div class="row">

        <div class="col-md-5">
            <img src="{{ asset('assets/img/karhabty-logo.png') }}" height="60"  >
        </div>

        <div class="col-md-5">




        </div>

    </div>
</div>



<h1 style="font-size: 40px">Bienvenue à <a style="text-decoration:none;background-color:#CC0000;color:black;">&nbsp;<span style="color:black;">Car</span><span style="color:white;">habty</span>&nbsp;</a></h1>

<h1>Votre coupon</h1>


<p style="font-size: 25px">Nom :</p>
<br>
<p style="font-size: 25px">Prenom :</p>
<br>
<p style="font-size: 25px">date :</p>
<br>
<p style="font-size: 25px">prix :</p>
<br>
<p style="font-size: 25px">Partenaire :</p>
<br>
<p style="font-size: 25px">adresse :</p>
<br>
<img src="https://api.qrserver.com/v1/create-qr-code/?data={{ alo }}&amp;size=100x100" height="50"/>